﻿@model System.Collections.Generic.List<todo_aspnetmvc.Models.ItemViewModel>
@using todo_domain_entities.Models;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="card navbar" style="width: 25rem;">


    <div class="btn-group btn-left" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index", "Folders")'">Back</button>
    </div>

    <div class="card-header">
        <img src="/img/today.png" alt="today" class="img-circle">
        Today
    </div>

    <ol class="list-group list-group">
        @foreach (var i in Model.Where(x => x.Status == StatusItem.NotStarted))
        {
            <li class="list-group-item d-flex justify-content-between align-items-start ">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <input id="cb-@i.Id" task-id="@i.Id" list-id="@i.Folder" class="form-check-input me-1 task-item" type="checkbox" @(i.Status == StatusItem.Completed ? "checked" : "")>
                        @i.Name
                    </div>
                    <div class="fw-gray">
                        @(i.CompletionDate != null ? "Completion date:" : "")
                        @i.CompletionDate?.ToString("dd.MM.yyyy")
                    </div>
                </div>
            </li>
        }
        <hr>
    </ol>

    <ol class="list-group list-group">
        @foreach (var i in Model.Where(x => x.Status == StatusItem.Completed))
        {
            <li class="list-group-item d-flex justify-content-between align-items-start ">
                <div class="ms-2 me-auto">
                    <div class="list-gray">
                        <input id="cb-@i.Id" task-id="@i.Id" list-id="@i.Folder" class="form-check-input me-1 task-item" type="checkbox" @(i.Status == StatusItem.Completed ? "checked" : "")>
                        @i.Name
                    </div>
                    <div class="fw-gray">
                        @(i.CompletionDate != null ? "Completion date:" : "")
                        @i.CompletionDate?.ToString("dd.MM.yyyy")
                    </div>
                </div>
            </li>
        }
    </ol>

</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
    $(document).on("click", ".task-item", function(){
        let status = $(this).is(':checked') ? 1 : 0;
        let id = $(this).attr("task-id");
        let folderId = $(this).attr("list-id");
        $.post("/Items/UpdateStatus/"+id, {status: status,FolderId: folderId }, function () {
            location.reload();
        });
    });
    </script>
}