﻿@model todo_aspnetmvc.Models.FolderViewModel

@{
    ViewBag.Title = Model.Id == Guid.Empty ? "Add list" : "Edit list";
    Layout = "_Layout";
}

@using (Html.BeginForm("Save", "Folders", FormMethod.Post))
{
    <input type="hidden" class="form-control" id="Id" name="Id" value="@Model.Id">
    <div class="modal-body">

        <div class="mb-3">
            @Html.LabelFor(x => x.Name, new {htmlAttributes = new {@class = "form-label"}})
            @Html.EditorFor(x => x.Name, new {htmlAttributes = new {@class = "form-control"}})
            @Html.ValidationMessageFor(x => x.Name)
        </div>
        <div class="mb-3">
            <label for="chooseIcon" class="form-label">Icon</label>
            <select class="form-select" aria-label="Default select example" id="chooseIcon" name="Icon">
                <option value="img/no-pictures.png">no picture</option>
                <option value="img/calendar.png">calendar</option>
                <option value="img/person.png">person</option>
                <option value="img/today.png">today</option>
            </select>

        </div>
        <div class="mb-3">
            <label>Hidden</label>
            @Html.CheckBox("IsHidden", @Model.IsHidden)
        </div>
    </div>
    <div class="modal-footer">
        @if (Model.Id == Guid.Empty)
        {
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Folders")'">Back</button>
        }
        else
        {
            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Get", "Folders", new {folderId = @Model.Id})'">Back</button>
        }
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}