﻿@model todo_aspnetmvc.Models.FolderViewModel
@using todo_domain_entities.Models;

@{
    ViewBag.Title = "List";
    Layout = "_Layout";
}

<div class="card navbar" style="">
    <ul class="list-group list-group-flush">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button onclick="location.href='@Url.Action("EditItem", "Items", new {folderId = Model.Id})'" class="btn btn-outline-primary" type="button">Add task</button>
            </div>
            <button type="submit" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Edit", "Folders", new {folderId = Model.Id})'">Edit list</button>
            @using (Html.BeginForm("Copy", "Folders", new {folderId = Model.Id}))
            {
                <button type="submit" class="btn btn-outline-primary">
                    Copy list
                </button>
            }
            @using (Html.BeginForm("DeleteList", "Folders", new {folderId = Model.Id}))
            {
                <button type="submit" name="X-HTTP-Method-Override" value="DELETE" class="btn btn-outline-primary cancel" formnovalidate
                        onclick="return confirm('Are you sure?')">
                    Delete
                </button>
            }
            <button type="button" class="btn btn-outline-primary" onclick="location.href='@Url.Action("Index", "Folders")'">Back</button>
        </div>

    </ul>

    <div class="card-header">
        <img src=@Model.Icon alt="..." class="img-circle">
        @Model.Name
    </div>

    <ol class="list-group list-group">
        @foreach (var i in Model.Items.Where(x => x.Status == StatusItem.NotStarted))
        {
            <li class="list-group-item d-flex justify-content-between align-items-start ">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">
                        <input id="cb-@i.Id" task-id="@i.Id" list-id="@i.Folder" class="form-check-input me-1 task-item" type="checkbox" @(i.Status == StatusItem.Completed ? "checked" : "")>
                        @i.Name
                    </div>
                    <div class="fw-gray">
                        @(i.CompletionDate != null ? "Completion date:" : "")
                        @i.CompletionDate?.ToString("dd.MM.yyyy")
                    </div>
                </div>
                <ul class="ul-w">
                    <li>
                        <button onclick="location.href='@Url.Action("EditItem", "Items", new {taskId = i.Id})'" class="badge bg-primary rounded-pill task-button">Edit</button>
                    </li>
                    <li>
                        @using (Html.BeginForm("DeleteTask", "Items", new {taskId = @i.Id}, FormMethod.Post))
                        {
                            <button type="submit" name="X-HTTP-Method-Override" value="DELETE" class="badge bg-primary rounded-pill task-button cancel" formnovalidate
                                    onclick="return confirm('Are you sure?')">
                                Delete
                            </button>
                        }
                    </li>
                </ul>
            </li>
        }
    </ol>

    <ol class="list-group list-group">
        @foreach (var i in Model.Items.Where(x => x.Status == StatusItem.Completed))
        {
            <li class="list-group-item d-flex justify-content-between align-items-start ">
                <div class="ms-2 me-auto">
                    <div class="list-gray">
                        <input id="cb-@i.Id" task-id="@i.Id" list-id="@i.Folder" class="form-check-input me-1 task-item" type="checkbox" @(i.Status == StatusItem.Completed ? "checked" : "")>

                        @i.Name
                    </div>
                    <div class="fw-gray">
                        @(i.CompletionDate != null ? "Completion date:" : "")
                        @i.CompletionDate?.ToString("dd.MM.yyyy")
                    </div>
                </div>
                <ul class="ul-w">
                    <li>
                        <button onclick="location.href='@Url.Action("EditItem", "Items", new {taskId = i.Id})'" class="badge bg-primary rounded-pill task-button">Edit</button>
                    </li>
                    <li>
                        @using (Html.BeginForm("DeleteTask", "Items", new {taskId = @i.Id}, FormMethod.Post))
                        {
                            <button type="submit" name="X-HTTP-Method-Override" value="DELETE" class="badge bg-primary rounded-pill task-button cancel" formnovalidate
                                    onclick="return confirm('Are you sure?')">
                                Delete
                            </button>
                        }
                    </li>
                </ul>
            </li>
        }
    </ol>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
    $(document).on("click", ".task-item", function(){
        let status = $(this).is(':checked') ? 1 : 0;
        let id = $(this).attr("task-id");
        let folderId = $(this).attr("list-id");
        $.post("/Items/UpdateStatus/"+id, {status: status,FolderId: folderId }, function (json) {
            location.reload();
        });
    });
    </script>


}