﻿@model List<todo_aspnetmvc.Models.FolderViewModel>

@{
    ViewBag.Title = "Lists";
    Layout = "_Layout";
}

<div class="lists-container">
    <div class="lists">

        <div class="todo-list" onclick="location.href='@Url.Action("GetTodayItems", "Items")'">
            <div class="list-icon">
                <img src="img/today.png" alt="no picture" class="img-circle">
            </div>
            <div class="list-info">
                <div class="list-head">
                    Today
                </div>
                <div class="list-items-count">
                    @(_itemService.GetTasksCount()) tasks
                </div>
            </div>

        </div>

        @foreach (var p in Model)
        {
            <div class="todo-list" onclick="location.href='@Url.Action("Get", "Folders", new {folderId = p.Id})'">
                <div class="list-icon">
                    @if (!string.IsNullOrEmpty(p.Icon))
                    {
                        <img src=@p.Icon alt="..." class="img-circle">
                    }
                    else
                    {
                        <img src="img/no-pictures.png" alt="no picture" class="img-circle">
                    }
                </div>
                <div class="list-info">
                    <div class="list-head">
                        @p.Name
                    </div>
                    <div class="list-items-count">
                        @p.Items.Count tasks
                    </div>
                </div>
            </div>
        }
        
          <div class="todo-list" onclick="location.href='@Url.Action("Edit", "Folders")'">
              <div class="list-icon img-center" onclick="location.href='@Url.Action("Edit", "Folders")'">
                 <img src="img/plus.png" alt="add list" class="img-circle img-small"> 
            </div>
           
       </div>
        
    </div>
</div>